.container
  .footer__row
    // Footer column 1
    .footer__col
      // Logo
      a.logo.footer__logo(href='./')
        img.logo__img(src='./assets/icons/logo.svg' alt='NEUbie')
        h1.logo__title NEUbie
      p.footer__desc
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, maxime et veniam eligendi rem
        | voluptatibus.
      p.footer__help-text Receive product news and updates.
      form.footer__form(action='')
        input.footer__input(type='text' placeholder='Email address')
        button.btn.btn--primary SEND
    // Footer column 2
    .footer__col
      h3.footer__heading Shop
      ul.footer__list
        li
          a.footer__link(href='#!') All Departments
        li
          a.footer__link(href='#!') Fashion Deals
        li
          a.footer__link(href='#!') Electronics Discounts
        li
          a.footer__link(href='#!') Home &amp; Living Specials
        li
          a.footer__link(href='#!') Beauty Bargains
    // Footer column 3
    .footer__col
      h3.footer__heading Support
      ul.footer__list
        li
          a.footer__link(href='#!') Store locator
        li
          a.footer__link(href='#!') Order status
    // Footer column 4
    .footer__col
      h3.footer__heading Company
      ul.footer__list
        li
          a.footer__link(href='#!') Customer Service
        li
          a.footer__link(href='#!') Terms of Use
        li
          a.footer__link(href='#!') Privacy
        li
          a.footer__link(href='#!') Careers
        li
          a.footer__link(href='#!') About
        li
          a.footer__link(href='#!') Affiliates
    // Footer column 5
    .footer__col
      h3.footer__heading Contact
      ul.footer__list
        li
          p.footer__label Email
          a.footer__link(href='mailto:contact@NEUbie.com')  contact@NEUbie.com 
        li
          p.footer__label Hotline
          a.footer__link(href='tel:18008888') 18008888
        li
          p.footer__label Address
          p.footer__text
            | No. 11D, Lot A10, Nam Trung Yen urban area, Yen Hoa Ward, Cau Giay District, City. Hanoi
        li
          p.footer__label Hours
          p.footer__text M - F 08:00am - 06:00pm
  .footer__bottom
    p.footer__copyright &copy; 2010 - 2025 Grocery Mart. All rights reserved.
    .footer__socials
      a.footer__social-link.footer__social-link--facebook(href='#!')
        img.footer__social-icon(src='./assets/icons/facebook.svg' alt='')
      a.footer__social-link.footer__social-link--youtube(href='#!')
        img.footer__social-icon(src='./assets/icons/youtube.svg' alt='')
      a.footer__social-link.footer__social-link--tiktok(href='#!')
        img.footer__social-icon(src='./assets/icons/tiktok.svg' alt='')
      a.footer__social-link.footer__social-link--twitter(href='#!')
        img.footer__social-icon(src='./assets/icons/twitter.svg' alt='')
      a.footer__social-link.footer__social-link--linkedin(href='#!')
        img.footer__social-icon(src='./assets/icons/linkedin.svg' alt='')
