extends ../../layouts/auth.pug
block main
  section.vh-100(style='background-color: rgb(0, 28, 64);')
    .container.py-5.h-100
      .row.d-flex.justify-content-center.align-items-center.h-100
        .col.col-xl-10
          .card(style='border-radius: 1rem;')
            .row.g-0
              .col-md-6.col-lg-5.d-none.d-md-block
                img.img-fluid(src='/images/Mascot 01.png')
              .col-md-6.col-lg-7.d-flex.align-items-center
                .card-body.p-4.p-lg-5.text-black
                  form
                    .d-flex.align-items-center.mb-3.pb-1
                      i.fas.fa-cubes.fa-2x.me-3(style='color: #ff6219;')
                      span.h1.fw-bold.mb-0 Logo
                    h5.fw-normal.mb-3.pb-3(style='letter-spacing: 1px;') Sign into your account
                    .form-outline.mb-4(data-mdb-input-init='')
                      input#form2Example17.form-control.form-control-lg(type='email')
                      label.form-label(for='form2Example17') Email address
                    .form-outline.mb-4(data-mdb-input-init='')
                      input#form2Example27.form-control.form-control-lg(type='password')
                      label.form-label(for='form2Example27') Password
                    .pt-1.mb-4
                      button.btn.btn-dark.btn-lg.btn-block(data-mdb-button-init='', data-mdb-ripple-init='', type='button') Login
                    a.small.text-muted(href='#!') Forgot password?
                    p.mb-5.pb-lg-2(style='color: #393f81;')
                      | Don&apos;t have an account? 
                      a(href='#!', style='color: #393f81;') Register here
                    a.small.text-muted(href='#!') Terms of use.
                    a.small.text-muted(href='#!') Privacy policy